/**
 * Code
 */

// Dependencies
@import 'config/variables';
@import 'config/code';

$colors: map-get($variables, 'colors');

// Declarations
code, pre {
  @include code();
}

p code, li code {
  @include code-inline();
}

pre {
  @include code-block();

  code {
    font-family: inherit;
    // display: inline-block;
    // font-family: 1.2em;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background-color: inherit;
    border: none;
    // border-radius: 3px;
  }
}

.code {
  @include code();
}

.code__comment {
  color: map-get($colors, 'primary-navy-30t');
}

.code-block {
  @include code();
  @include code-block();

  padding: 0;

  pre {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    margin: 0;
    padding: 16px;
    border: none;
  }
}
