/**
 * Code
 */

// Dependencies
@import 'config/variables';

// Declarations
pre {
  font-family: monospace, monospace;
  font-size: 1em;
  margin: 0
}

code, pre {
  display: inline-block;
}

.code,
.code-block {
  font-weight: normal;
  font-size: inherit;
  line-height: 1.3;
  font-family: monospace;
  background-color: map-get(map-get($variables, 'colors'), 'secondary-white');
  border: 1px solid map-get(map-get($variables, 'colors'), 'secondary-grey-30t');
  border-radius: 3px;
}

.code {
  color: map-get(map-get($variables, 'colors'), 'primary-blue');
  padding: 4px 8px;
  display: inline-block;
  overflow: initial;
  line-height: inherit;
  max-width: 100%;
  text-overflow: ellipsis;
}

p code {
  color: map-get(map-get($variables, 'colors'), 'primary-blue');
  font-size: 85%;
  font-family: inherit;
  letter-spacing: 0.01em;
  background-color: map-get(map-get($variables, 'colors'), 'secondary-white');
  border-radius: 3px;
  padding: 0.2em 0.4em;
  margin: 0;
  display: inline;
}

.code-block {
  color: map-get(map-get($variables, 'colors'), 'primary-red');
  display: inline-block;
  display: block;
  max-width: 100%;
  overflow-y: auto;
  pre {
    padding: 16px 16px;
  }
}

.code__comment {
  color: map-get(map-get($variables, 'colors'), 'primary-navy-30t');
}
