/**
 * Inputs
 */

// Dependencies
@import 'config/tokens';
@import 'config/animate';
@import 'config/inputs';
@import 'config/grid';

// Declarations
input, textarea {
  @include inputs;

  border-color: var(--nyco-border);
  background-color: var(--nyco-input-background);

  &::placeholder {
    color: var(--nyco-placeholder);
  }
}

/**
 * Currency Input
 */

.input-currency-usd {
  position: relative;

  input {
    padding-left: $grid * 3;
    text-align: end;
  }

  &::after {
    @include inputs-currency-icon;
    content: '$';
    text-align: left;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
  }
}

/**
 * Number Input
 */

input[type='number'] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

/**
 * Autocomplete
 */

.input-autocomplete {
  display: inline-block;
}

.input-autocomplete__dropdown {
  position: relative;
}

.input-autocomplete__dropdown > ul {
  background: map-get(map-get($tokens, 'colors'), 'base-white');
  color: map-get(map-get($tokens, 'colors'), 'base-black');

  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;

  margin: 0;
  padding: 0;

  list-style: none;
  text-align: left;
  margin-top: 1px;
  z-index: 1;

  box-shadow: map-get(map-get($tokens, 'boxShadow'), 'up');
}

.input-autocomplete__dropdown > ul > li {
  @include inputs;
  @include transition;

  cursor: pointer;
  border: transparent;
}

.input-autocomplete__dropdown > ul > .input-autocomplete__highlight {
  background-color: map-get(map-get($tokens, 'colors'), 'grey-50t');
}

/**
 * Search Input
 */

.input-search {
  position: relative;

  input {
    text-overflow: ellipsis;
    display: block;
    width: 100%;
  }
}

/**
 * Input Button
 */

.input__btn {
  @include inputs-btn();

  position: absolute;

  right: $inputs-padding;
  top: 50%;
  margin-top: -($inputs-btn-dimension / 2);
}

.input__btn-large {
  @include inputs-btn-large();

  position: absolute;

  right: $inputs-padding;
  top: 50%;
  margin-top: -($inputs-btn-dimension-large / 2);
}