/**
 * Borders
 */

// Dependencies
// @import '...';

// Declarations
.b {
  border-width: 1px;
  border-style: solid
}

.b-top {
  border-top-width: 1px;
  border-style: solid
}

.b-bottom {
  border-bottom-width: 1px;
  border-style: solid
}

.b-left {
  border-left-width: 1px;
  border-style: solid
}

.b-right {
  border-right-width: 1px;
  border-style: solid
}

.b-2 {
  border-width: 2px
}

.b-3 {
  border-width: 3px
}

.b-4 {
  border-width: 4px
}

.b-5 {
  border-width: 5px
}

.b-6 {
  border-width: 6px
}

.b-7 {
  border-width: 7px
}

.b-none {
  border: none !important
}
