//
// Vars
//

// Base
$base-white: #FFFFFF;

$base-black: #333333;

// Primary
$primary-navy: #2F334F;

$primary-blue: #3155A6;

$primary-red: #F2695D;

// Secondary
$secondary-grey: #ACAEB9;

$secondary-white: #F3F3F3;

$secondary-orange: #F9A137;

$secondary-pink: #EBBCD8;

// Interface
// $interface-info: ...
//
// $interface-warning: ...
//
// $interface-success: ...
//
// $interface-error: ...
//

// Tints
$delta-tints: (30%, 50%, 70%);

// Hover and Focus Delta
$delta-psuedo: 15%;

// Shades
// $shades: (..., ..., ...);

// Appearance
// This is where the color assignments are managed. This object can be fed into
// the main color mixin for batch setting color utility classes.
// (namespace, color, text, hyperlinks)
//
// namespace    string - the name of the color attribute reference. Colors
//                       automatically generate
// color        hex code - the main hex color assignment to the namespace.
// text         hex code - the color assignment to text on top of the color.
// hyperlinks   hex code - the color assignment to hyperlinked text on top of
//                         the color.
$primary: ('primary-navy', $primary-navy, $secondary-white, $secondary-orange),
          ('primary-blue', $primary-blue, $secondary-white, $secondary-orange),
          ('primary-red', $primary-red, $secondary-white, $secondary-orange);

$secondary: ('secondary-grey', $secondary-grey, $primary-navy, $secondary-orange),
            ('secondary-white', $secondary-white, $primary-navy, $secondary-orange),
            ('secondary-orange', $secondary-orange, $primary-navy, $secondary-white),
            ('secondary-pink', $secondary-pink, $primary-navy, $primary-red);

