/**
 * Display
 */

// Dependencies
@import '../core/grid.vars';

// Declarations
.d-flex {
  display: flex
}

.d-block {
  display: block
}

.d-inline-block {
  display: inline-block
}

.d-table {
  display: table
}

// Create flexbox grow for the grid system
@for $flex-column-index from 1 through $grid-columns {

  .f-#{$flex-column-index} {
    flex: $flex-column-index
  }

}

.o--1 {
  order: -1
}

.fd-column {
  flex-direction: column
}

.fg-1 {
  flex-grow: 1
}

.jc-start {
  justify-content: flex-start
}

.jc-end {
  justify-content: flex-end
}

.jc-center {
  justify-content: center
}

.jc-space-between {
  justify-content: space-between
}

.ac-space-between {
  align-content: space-between
}

.ai-start {
  align-items: flex-start
}

.ai-end {
  align-items: flex-end
}

.ai-center {
  align-items: center
}

.ai-stretch {
  align-items: stretch
}

.ai-baseline {
  align-items: baseline
}

.bp-justify {
  box-pack: justify
}