/**
 * Display
 */

// Dependencies
@import 'grid.vars';

// Declarations
.d-flex {
  display: flex
}

// Create flexbox grow for the grid system
@for $flex-column-index from 1 through $grid-columns {

  .f-#{$flex-column-index} {
    flex: $flex-column-index
  }

}

.o--1 {
  order: -1
}

.jc-start {
  justify-content: flex-start
}

.jc-end {
  justify-content: flex-end
}

.jc-center {
  justify-content: center
}

.ai-start {
  align-items: flex-start
}

.ai-end {
  align-items: flex-end
}

.ai-center {
  align-items: center
}

.ai-stretch {
  align-items: stretch
}

.ai-baseline {
  align-items: baseline
}