/**
 * Fonts
 */

// Dependencies
@import '../core/fonts.mixins';

// Declarations
.f-smooth {
  @include font-smooth
}

.f-aliased {
  @include font-aliased
}

.ff-system {
  @include font-system
}

.fw-normal {
  font-weight: normal
}

.fw-bold {
  font-weight: bold
}

.fs-italic {
  font-style: italic
}
