/**
 * Grid
 */

// Dependencies
@import '../core/grid.vars';
@import '../core/grid.mixins';

// Declarations
@include gutters($grid-base, 'm', 'margin', $grid-multiplier); // Make margin gutters

@include gutters($grid-base, 'p', 'padding', $grid-multiplier); // Make padding gutters

.p-0 {
  padding: 0 !important
}

.m-0 {
  margin: 0 !important
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  $padding: $grid-base * 2;
  max-width: ($wrap-width - ($padding*2));
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
}