/**
 * Transitions
 */

// Dependencies
// @import ...;

// Declarations
a, input, .btn, textarea, select {
  transition-property: opacity, background, color, border, box-shadow, outline, transform;
  transition-duration: 0.25s;
  backface-visibility: hidden;
}