.table, [class*=table-] {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr, [class*=table-] thead tr {
  background-color: #F9F9FA;
}

.table tbody tr:nth-child(odd), [class*=table-] tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

.table tbody tr:nth-child(even), [class*=table-] tbody tr:nth-child(even) {
  background-color: #F9F9FA;
}

.table th, [class*=table-] th {
  vertical-align: top;
}

.table th, .table td, .table caption, [class*=table-] th, [class*=table-] td, [class*=table-] caption {
  padding: 16px 24px;
}

.table caption, [class*=table-] caption {
  font-size: 0.833em;
  font-style: italic;
  background-color: #F3F3F3;
  padding: 8px 24px;
}

.table code, .table pre, [class*=table-] code, [class*=table-] pre {
  font-size: 85%;
  font-family: inherit;
  letter-spacing: 0.01em;
  border-radius: 3px;
  border-width: 1px;
  margin: 0;
  display: inline;
}

.table pre, [class*=table-] pre {
  color: var(--nyco-code-primary);
  display: block;
  max-width: 100%;
  overflow: auto;
  padding: 24px;
}

.table-bordered thead tr:nth-child(n),
.table-bordered tbody tr:nth-child(n) {
  background-color: transparent;
}

.table-bordered tr {
  border-bottom: 1px solid #e6e8ec;
}

.caption-side-bottom {
  caption-side: bottom;
}

.cell-padding {
  padding: 16px 24px;
}

@media (min-width: 400px) {
  .small\:table, [class*="small:table-"] {
    width: 100%;
    border-collapse: collapse;
  }

  .small\:table thead tr, [class*="small:table-"] thead tr {
    background-color: #F9F9FA;
  }

  .small\:table tbody tr:nth-child(odd), [class*="small:table-"] tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
  }

  .small\:table tbody tr:nth-child(even), [class*="small:table-"] tbody tr:nth-child(even) {
    background-color: #F9F9FA;
  }

  .small\:table th, [class*="small:table-"] th {
    vertical-align: top;
  }

  .small\:table th, .small\:table td, .small\:table caption, [class*="small:table-"] th, [class*="small:table-"] td, [class*="small:table-"] caption {
    padding: 16px 24px;
  }

  .small\:table caption, [class*="small:table-"] caption {
    font-size: 0.833em;
    font-style: italic;
    background-color: #F3F3F3;
    padding: 8px 24px;
  }

  .small\:table code, .small\:table pre, [class*="small:table-"] code, [class*="small:table-"] pre {
    font-size: 85%;
    font-family: inherit;
    letter-spacing: 0.01em;
    border-radius: 3px;
    border-width: 1px;
    margin: 0;
    display: inline;
  }

  .small\:table pre, [class*="small:table-"] pre {
    color: var(--nyco-code-primary);
    display: block;
    max-width: 100%;
    overflow: auto;
    padding: 24px;
  }

  .small\:table-bordered thead tr:nth-child(n),
.small\:table-bordered tbody tr:nth-child(n) {
    background-color: transparent;
  }

  .small\:table-bordered tr {
    border-bottom: 1px solid #e6e8ec;
  }

  .small\:caption-side-bottom {
    caption-side: bottom;
  }

  .small\:cell-padding {
    padding: 16px 24px;
  }
}

@media (min-width: 480px) {
  .mobile\:table, [class*="mobile:table-"] {
    width: 100%;
    border-collapse: collapse;
  }

  .mobile\:table thead tr, [class*="mobile:table-"] thead tr {
    background-color: #F9F9FA;
  }

  .mobile\:table tbody tr:nth-child(odd), [class*="mobile:table-"] tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
  }

  .mobile\:table tbody tr:nth-child(even), [class*="mobile:table-"] tbody tr:nth-child(even) {
    background-color: #F9F9FA;
  }

  .mobile\:table th, [class*="mobile:table-"] th {
    vertical-align: top;
  }

  .mobile\:table th, .mobile\:table td, .mobile\:table caption, [class*="mobile:table-"] th, [class*="mobile:table-"] td, [class*="mobile:table-"] caption {
    padding: 16px 24px;
  }

  .mobile\:table caption, [class*="mobile:table-"] caption {
    font-size: 0.833em;
    font-style: italic;
    background-color: #F3F3F3;
    padding: 8px 24px;
  }

  .mobile\:table code, .mobile\:table pre, [class*="mobile:table-"] code, [class*="mobile:table-"] pre {
    font-size: 85%;
    font-family: inherit;
    letter-spacing: 0.01em;
    border-radius: 3px;
    border-width: 1px;
    margin: 0;
    display: inline;
  }

  .mobile\:table pre, [class*="mobile:table-"] pre {
    color: var(--nyco-code-primary);
    display: block;
    max-width: 100%;
    overflow: auto;
    padding: 24px;
  }

  .mobile\:table-bordered thead tr:nth-child(n),
.mobile\:table-bordered tbody tr:nth-child(n) {
    background-color: transparent;
  }

  .mobile\:table-bordered tr {
    border-bottom: 1px solid #e6e8ec;
  }

  .mobile\:caption-side-bottom {
    caption-side: bottom;
  }

  .mobile\:cell-padding {
    padding: 16px 24px;
  }
}

@media (min-width: 768px) {
  .tablet\:table, [class*="tablet:table-"] {
    width: 100%;
    border-collapse: collapse;
  }

  .tablet\:table thead tr, [class*="tablet:table-"] thead tr {
    background-color: #F9F9FA;
  }

  .tablet\:table tbody tr:nth-child(odd), [class*="tablet:table-"] tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
  }

  .tablet\:table tbody tr:nth-child(even), [class*="tablet:table-"] tbody tr:nth-child(even) {
    background-color: #F9F9FA;
  }

  .tablet\:table th, [class*="tablet:table-"] th {
    vertical-align: top;
  }

  .tablet\:table th, .tablet\:table td, .tablet\:table caption, [class*="tablet:table-"] th, [class*="tablet:table-"] td, [class*="tablet:table-"] caption {
    padding: 16px 24px;
  }

  .tablet\:table caption, [class*="tablet:table-"] caption {
    font-size: 0.833em;
    font-style: italic;
    background-color: #F3F3F3;
    padding: 8px 24px;
  }

  .tablet\:table code, .tablet\:table pre, [class*="tablet:table-"] code, [class*="tablet:table-"] pre {
    font-size: 85%;
    font-family: inherit;
    letter-spacing: 0.01em;
    border-radius: 3px;
    border-width: 1px;
    margin: 0;
    display: inline;
  }

  .tablet\:table pre, [class*="tablet:table-"] pre {
    color: var(--nyco-code-primary);
    display: block;
    max-width: 100%;
    overflow: auto;
    padding: 24px;
  }

  .tablet\:table-bordered thead tr:nth-child(n),
.tablet\:table-bordered tbody tr:nth-child(n) {
    background-color: transparent;
  }

  .tablet\:table-bordered tr {
    border-bottom: 1px solid #e6e8ec;
  }

  .tablet\:caption-side-bottom {
    caption-side: bottom;
  }

  .tablet\:cell-padding {
    padding: 16px 24px;
  }
}

@media (min-width: 960px) {
  .desktop\:table, [class*="desktop:table-"] {
    width: 100%;
    border-collapse: collapse;
  }

  .desktop\:table thead tr, [class*="desktop:table-"] thead tr {
    background-color: #F9F9FA;
  }

  .desktop\:table tbody tr:nth-child(odd), [class*="desktop:table-"] tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
  }

  .desktop\:table tbody tr:nth-child(even), [class*="desktop:table-"] tbody tr:nth-child(even) {
    background-color: #F9F9FA;
  }

  .desktop\:table th, [class*="desktop:table-"] th {
    vertical-align: top;
  }

  .desktop\:table th, .desktop\:table td, .desktop\:table caption, [class*="desktop:table-"] th, [class*="desktop:table-"] td, [class*="desktop:table-"] caption {
    padding: 16px 24px;
  }

  .desktop\:table caption, [class*="desktop:table-"] caption {
    font-size: 0.833em;
    font-style: italic;
    background-color: #F3F3F3;
    padding: 8px 24px;
  }

  .desktop\:table code, .desktop\:table pre, [class*="desktop:table-"] code, [class*="desktop:table-"] pre {
    font-size: 85%;
    font-family: inherit;
    letter-spacing: 0.01em;
    border-radius: 3px;
    border-width: 1px;
    margin: 0;
    display: inline;
  }

  .desktop\:table pre, [class*="desktop:table-"] pre {
    color: var(--nyco-code-primary);
    display: block;
    max-width: 100%;
    overflow: auto;
    padding: 24px;
  }

  .desktop\:table-bordered thead tr:nth-child(n),
.desktop\:table-bordered tbody tr:nth-child(n) {
    background-color: transparent;
  }

  .desktop\:table-bordered tr {
    border-bottom: 1px solid #e6e8ec;
  }

  .desktop\:caption-side-bottom {
    caption-side: bottom;
  }

  .desktop\:cell-padding {
    padding: 16px 24px;
  }
}