/**
 * Layouts
 */

// Dependencies
@import 'config/variables';
@import 'config/screens';

$grid: map-get($variables, 'grid');

// Declaration
@mixin layouts($variant: '') {
  .#{$variant}layout--wrap {
    max-width: 1200px;
  }

  .#{$variant}layout--sidebar {
    > *:first-child {
      width: 16rem
    }

    > *:first-child + * {
      width: calc(100% - 16rem)
    }
  }

  .#{$variant}layout--content {
    > *:first-child {
      max-width: 600px;
      width: 100%
    }
  }

  .#{$variant}layout--two-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      width: calc(50%);
      max-width: calc(50%);
      flex-basis: calc(50%)
    }
  }

  .#{$variant}layout--two-columns-gutter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      width: calc(50% - #{$grid / 2});
      max-width: calc(50% - #{$grid / 2});
      flex-basis: calc(50% - #{$grid / 2})
    }

    > * {
      margin-bottom: $grid
    }
  }

  .#{$variant}layout--three-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      width: calc(33.33%);
      max-width: calc(33.33%);
      flex-basis: calc(33.33%)
    }
  }

  .#{$variant}layout--three-columns-gutter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      width: calc(33.33% - #{$grid / 2});
      max-width: calc(33.33% - #{$grid / 2});
      flex-basis: calc(33.33% - #{$grid / 2})
    }

    > * {
      margin-bottom: $grid
    }
  }

  .#{$variant}layout--four-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      width: calc(25%);
      max-width: calc(25%);
      flex-basis: calc(25%)
    }
  }

  .#{$variant}layout--four-columns-gutter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      width: calc(25% - #{($grid * 0.75)});
      max-width: calc(25% - #{($grid * 0.75)});
      flex-basis: calc(25% - #{($grid * 0.75)})
    }

    > * {
      margin-bottom: $grid
    }
  }
}

@include screens {
  @include layouts($variant);
}