/**
 * Layouts
 */

// Dependencies
@import 'config/variables';

$screens: map-get($variables, 'screens');
$grid: map-get($variables, 'grid');;

// Declaration
.layout--sidebar {
  $min-width: map-get($screens, 'screen-tablet');

  @media (min-width: '#{$min-width}px') {
    > *:first-child {
      width: 16rem
    }

    > *:first-child + * {
      width: calc(100% - 16rem)
    }
  }
}

.layout--content {
  > *:first-child {
    width: 600px;
    max-width: 100%;
  }
}

.layout--four-columns-gutter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > * {
    width: calc(25% - #{$grid});
    max-width: calc(25% - #{$grid});
    flex-basis: calc(25% - #{$grid})
  }

  > * {
    margin-bottom: $grid
  }
}