/**
 * Layouts
 */

// Dependencies
@import 'config/variables';

$screens: map-get($variables, 'screens');
$grid: map-get($variables, 'grid');;

// Declaration
@mixin layouts($variant: '') {
  .#{$variant}layout--wrap {
    max-width: 1200px;
  }

  .#{$variant}layout--sidebar {
    > *:first-child {
      width: 16rem
    }

    > *:first-child + * {
      width: calc(100% - 16rem)
    }
  }

  .#{$variant}layout--content {
    > *:first-child {
      width: 600px;
      max-width: 100%;
    }
  }

  .#{$variant}layout--four-columns-gutter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      width: calc(25% - #{$grid});
      max-width: calc(25% - #{$grid});
      flex-basis: calc(25% - #{$grid})
    }

    > * {
      margin-bottom: $grid
    }
  }
}

// the layout execution
@include layouts;

// the layout breakpoint execution
@each $screen, $s in $screens {
  @media (min-width: #{$s}px) {
    $variant: $screen + '\\:';
    @include layouts($variant);
  }
}