/**
 * Animate
 */

// Dependencies
@import 'config/tokens';
@import 'config/animate';
@import 'vendor/assets/stylesheets/animate/fadeInUp';
@import 'vendor/assets/stylesheets/animate/fadeIn';

// Declarations
body {
  backface-visibility: hidden;
}

.animated {
  @include animate();
}

a, input, textarea, select, path, rect, .btn, .button {
  transition-property: opacity, background, color, border, box-shadow, outline, transform, stroke, stroke-dashoffset, fill;
  transition-duration: 0.25s;
  backface-visibility: hidden;
}