//
// Mixins
//

// Dependencies
@import 'colors.vars';

// Mixins
@mixin background-color($colors, $set) {

  @each $setting in $set {

    $namespace: nth($setting, 1);
    $color: map-get($colors, nth($setting, 2));
    $text: map-get($colors, nth($setting, 3));
    $hyperlink: map-get($colors, nth($setting, 4));

    .bg-#{$namespace} {
      color: $text;
      background-color: $color
    }

    .bg-#{$namespace}:not(.bg-a-inherit) a:not(.inherit):not(.btn) {
      color: $hyperlink
    }

    .bg-#{$namespace}:not(.bg-a-inherit)  a:hover:not(.inherit):not(.btn) {
      color: $hyperlink
    }

    .btn.bg-#{$namespace}:focus,
    .btn.bg-#{$namespace}:active,
    html:not(.touchevents) .btn.bg-#{$namespace}:hover {
      color: $text;
      background-color: darken($color, $delta-psuedo);
    }

  }

}

@mixin color($colors, $set) {

  @each $setting in $set {

    $namespace: nth($setting, 1);
    $color: map-get($colors, nth($setting, 2));
    $text: map-get($colors, nth($setting, 3));
    $hyperlink: map-get($colors, nth($setting, 4));

    .c-#{$namespace} {
      color: $color !important
    }

    .b-#{$namespace} {
      border-color: $color
    }

    .fill-#{$namespace} {
      fill: $color
    }

    .stroke-#{$namespace} {
      stroke: $color
    }

    // .filter-#{$namespace}::before {
    //   background: $color;
    // }

  }

}

