//
// Mixins
//

// Dependencies
@import 'fonts.vars';

// Mixins
@mixin font-face($name, $file, $style, $weight) {
    font-family: $name;
    src: url($file + '.eot');
    src: url($file + '.eot?#iefix') format('embedded-opentype'),
         url($file + '.woff')       format('woff'),
         url($file + '.ttf')        format('truetype');
    font-style: $style;
    font-weight: $weight;
}

@mixin font-smooth() {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@mixin font-aliased() {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto
}

@function em($pixels, $context: $font-base) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}