//
// Variables
//

// Dependencies
@import 'vars';

$vars: map-get($vars, 'fonts');

$font-base: map-get($vars, font-size);
$line-height-base: map-get($vars, line-height);

$font-system: map-get($vars, font-system);