/**
 * Card
 */

// Dependencies
@import 'config/tokens';
@import 'config/colors';
@import 'config/type';

$grid: map-get($tokens, 'grid');
$screens: map-get($tokens, 'screens');

.c-card {
  position: relative;
  border: 4px solid;
  padding: $grid * 4;

  &:hover {
    background-color: var(--nyco-card-background-color);
  }

  &:hover .badge {
    background-color: var(--nyco-background-color);
  }
}

.c-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $grid;
}

.c-card__title {
  @include type('h4');
  margin-bottom: 0;
}

.c-card__block-description-list {
  @include type('small');

  margin-bottom: $grid * 2;

  :nth-child(2) {
    margin-bottom: $grid * 2;
  }

  dt {
    color: var(--nyco-placeholder);
    margin-inline-end: $grid;
  }
}

.c-card__inline-description-list {
  @include type('small');

  margin-bottom: $grid * 2;

  dt, dd  {
    display: inline-block;
  }

  dd {
    margin-inline-end: $grid * 3;
    margin-bottom: 0;
  }

  dt {
    color: var(--nyco-placeholder);
    margin-inline-end: $grid;
  }
}

.c-card__cta {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.c-card-info {
  display: flex;
  flex-direction: column;
}