//
// Variables
//

// Dependencies
@import 'config/tokens';

$colors: map-get($tokens, 'colors');
$colorCombinations: map-get($tokens, 'colorCombinations');

// Declarations
@mixin button-reset() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;

  background: transparent;

  // Inherit font & color from ancestor
  color: inherit;
  font: inherit;

  // Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
  line-height: normal;

  // Corrects font smoothing for webkit (and firefox)
  -moz-osx-font-smoothing: inherit;
   -webkit-font-smoothing: inherit;

  // Corrects inability to style clickable `input` types in iOS
  -webkit-appearance: none;

  // Remove excess padding and border in Firefox 4+
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin button-base() {
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  text-transform: initial;

  display: inline-flex;
  appearance: none;
  cursor: pointer;
  background: transparent;
  padding: ($grid * 1.5) ($grid * 2);

  border-style: solid;
  border-color: currentColor;
  border-width: $borderWidth;
  border-radius: $borderRadius;

  transition: background .1s ease-in,
              color .1s ease-in,
              box-shadow .1s ease-in;

  &:hover,
  &:active {
    box-shadow: map-get(map-get($tokens, 'boxShadow'), 'up'),
                0 0 0 3px rgba(255, 255, 255, 0);
  }
}

@mixin button-color($name: 'default') {
  color: var(--nyco-button-text);
  background-color: var(--nyco-#{$name});
  border-color: transparent;

  &:hover,
  &:active {
    color: var(--nyco-button-text);
    background: var(--nyco-#{$name});
  }
}
