//
// Variables
//

// Dependencies
@import 'config/tokens';
@import 'config/colors';
@import 'config/fonts';
@import 'config/direction';

$grid: map-get($tokens, 'grid');
$size: map-get(map-get($tokens, 'inputs'), 'checkbox-size');
$radius: map-get(map-get($tokens, 'inputs'), 'border-radius');

// Declarations
@mixin checkboxes {
  font-size: inherit;
  font-weight: $font-weight-bold;
  display: block;
  margin-bottom: $grid;

  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

@mixin checkboxes-label {
  color: inherit;
  font-size: inherit;

  display: flex;
  margin: 0;
  padding: .75 * (map-get($tokens, 'grid') * 2);

  border-width: 1px;
  border-style: solid;
  border-radius: map-get(map-get($tokens, 'inputs'), 'border-radius');

  transition: all .2s;

  cursor: pointer;
}

@mixin checkboxes-btn {
  transition: all .2s;
  border-width: 1px;
  border-style: solid;
  border-radius: $radius;
  content: '';
  display: inline-block;
  width: $size;
  height: $size;
  min-width: $size;
  margin-#{$direction-end}: $grid;

  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}

@mixin checkboxes-btn-checked {
  border: 0;
}