
// Dependencies
@import 'variables';

// Declarations
@mixin inline-code() {
  color: map-get(map-get($variables, 'colors'), 'primary-blue');
  font-size: 85%;
  font-family: inherit;
  letter-spacing: 0.01em;
  background-color: map-get(map-get($variables, 'colors'), 'secondary-white');
  border-radius: 3px;
  padding: 0.2em 0.4em;
  margin: 0;
  display: inline;
}