@import 'config/tokens';

$font-weights: map-get($tokens, 'fontWeight');
$font-sizes: map-get($tokens, 'fontSize');
$font-weight-bold: map-get($font-weights, bold);

@mixin font-smooth() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-smooth-auto() {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}