
// Dependencies
@import 'config/tokens';
@import 'config/screens';
@import 'config/fonts';

$padding: map-get($tokens, 'padding');

// Declarations
@mixin inputs() {
  appearance: none;
  color: inherit;
  font-size: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: map-get(map-get($tokens, 'inputs'), 'border-radius');
  display: block;
  max-width: 100%;
  min-width: 200px;
  width: 100%;
  padding: .75 * map-get($padding, 2);
  cursor: pointer;
  margin: 0;

  &::placeholder {
    color: inherit;
    opacity: 0.6;
  }

  @media screen and (min-width: $screen-tablet) {
    width: auto;
  }
}

@mixin input-currency-icon() {
  font-size: inherit;
  font-weight: $font-weight-bold;
}