//
// Variables
//

// Dependencies
@import 'config/tokens';
@import 'config/colors';
@import 'config/fonts';
@import 'config/direction';

$grid: map-get($tokens, 'grid');
$labelBorderWidth: map-get(map-get($tokens, 'inputs'), 'label-border-width');
$radioSize: map-get(map-get($tokens, 'inputs'), 'radio-size');
$borderWidth: map-get(map-get($tokens, 'inputs'), 'border-width');

// Declarations
@mixin radios {
  font-size: inherit;
  font-weight: $font-weight-bold;
  display: inline-block;
  margin-bottom: $grid;

  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

@mixin radios-label {
  color: inherit;
  font-size: inherit;

  display: flex;
  margin: 0;
  padding: .75 * (map-get($tokens, 'grid') * 2);

  border-style: solid;
  border-width: $labelBorderWidth;
  border-radius: map-get(map-get($tokens, 'inputs'), 'border-radius');

  transition: all .2s;

  cursor: pointer;
}

@mixin radios-btn {
  content: '';

  border-style: solid;
  border-width: $borderWidth;
  border-radius: 100%;
  display: inline-block;
  width: $radioSize;
  height: $radioSize;
  min-width: $radioSize;
  margin-#{$direction-end}: $grid;

  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;

  transition: all .2s;
}

@mixin radios-btn-checked {
  border: 0;
}
