
// Dependencies
@import 'config/tokens';

// Declarations

// Variables
$desktop: #{map-get(map-get($tokens, 'screens'), 'desktop')}px;
$tablet: #{map-get(map-get($tokens, 'screens'), 'tablet')}px;
$mobile: #{map-get(map-get($tokens, 'screens'), 'mobile')}px;
$small: #{map-get(map-get($tokens, 'screens'), 'small')}px;

// Mixins
@mixin screens($screens: map-get($tokens, 'screens')) {
  $variant: '' !global; // !global allows us to "pass" $variant to the @content
  @content; // mobile first... then other breakpoints
  @each $screen, $s in $screens {
    @media (min-width: #{$s}px) {
      $variant: $screen + '\\:' !global;
      @content;
    }
  }
  $variant: '' !global;
}