// Dependencies
@use 'config/tokens';
@use 'config/grid';
@use 'config/direction';
@use 'config/forms';

// Declarations
$selects: map-get(tokens.$tokens, 'selects');

@function get($token) {
  @return map-get($selects, $token);
}

@mixin base() {
  @include forms.forms-default();

  color: inherit;
  font-weight: bold;
  line-height: get('inner-size');
  text-overflow: ellipsis;
  padding: (grid.$grid * 2) - get('border-width');
  padding-inline-end: (grid.$grid * 5) - get('border-width');
  border-width: get('border-width');
  border-style: get('border-style');
  border-radius: get('border-radius');

  &::-ms-expand {
    display: none;
  }
}

@mixin graphic() {
  fill: transparent;
  stroke: transparent;
  stroke-width: get('stroke-width');
  stroke-linecap: get('stroke-line');
  stroke-linejoin: get('stroke-line');

  position: absolute;
  right: grid.$grid;
  inset-inline-end: grid.$grid;

  top: 50%;
  margin-top: -(get('inner-size'));

  width: get('inner-size');
  height: get('inner-size') * 2;

  pointer-events: none;
}