@import 'config/variables';

$font-family: map-get($variables, 'fontFamily');
$font-size: map-get($variables, 'fontSize');
$font-weight: map-get($variables, 'fontWeight');
$line-height: map-get($variables, 'lineHeight');

@mixin typeface($key: 'html') {
  font-family: map-get($font-size, $key);
}

@mixin type($key: 'html') {
  font-size: map-get($font-size, $key);
  font-weight: map-get($font-weight, $key);
  line-height: map-get($line-height, $key);

  @content;
}

$type-margin: 1.250em 0 0.64em;
