$variables:(
  cdn: "https://cdn.jsdelivr.net/gh/CityOfNewYork/nyco-patterns@v2.0.5/dist",
  fontFamily: (
    system: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif),
    code: (monospace),
    nycgov: ("Helvetica Neue", Helvetica, Arial, sans-serif),
    default-sans: ("Noto Sans", sans-serif),
    default-serif: ("Noto Serif", serif)
  ),
  fontWeight: (
    normal: normal,
    bold: bold,
    jumbo: normal,
    h1: bold,
    h2: normal,
    h3: normal,
    h4: bold,
    h5: bold,
    h6: bold,
    html: normal,
    code: normal,
    small: normal,
    blockquote: bold
  ),
  fontSize: (
    jumbo: 3em,
    h1: 2.488em,
    h2: 2.074em,
    h3: 1.728em,
    h4: 1.44em,
    h5: 1.2em,
    h6: 1em,
    html: 16px,
    code: 1em,
    small: 0.833em,
    blockquote: 2.074em
  ),
  lineHeight: (
    jumbo: 1.2,
    h1: 1.2,
    h2: 1.2,
    h3: 1.2,
    h4: 1.2,
    h5: 1.2,
    h6: 1.2,
    html: 1.5,
    code: 1.6,
    small: normal,
    blockquote: normal
  ),
  colors: (
    primary-navy: #2F334F,
    primary-navy-70t: #6E7085,
    primary-navy-50t: #9698A7,
    primary-navy-30t: #C0C2CA,
    primary-blue: #3155A6,
    primary-blue-70t: #6C88C1,
    primary-blue-50t: #96ABD2,
    primary-blue-30t: #C0CCE3,
    primary-red: #F2695D,
    primary-red-70t: #F6958D,
    primary-red-50t: #F8B2AD,
    primary-red-30t: #FBD1CE,
    secondary-grey: #ACAEB9,
    secondary-grey-70t: #C4C6CD,
    secondary-grey-50t: #D5D6DC,
    secondary-grey-30t: #E8E7E9,
    secondary-white: #F3F3F3,
    secondary-white-70t: #F6F6F6,
    secondary-white-50t: #F9F9FA,
    secondary-white-30t: #FBFCFC,
    secondary-orange: #F9A137,
    secondary-orange-70t: #FFA133,
    secondary-orange-50t: #FED09A,
    secondary-orange-30t: #FFE3C2,
    secondary-pink: #EBBCD8,
    secondary-pink-70t: #F2D0E3,
    secondary-pink-50t: #F7DDEB,
    secondary-pink-30t: #FDEBF3,
    base-black: #000000,
    base-white: #FFFFFF
  ),
  colorCombinations: (
    light-background: (
      color: base-black,
      headings: base-black,
      hyperlinks: primary-blue,
      visited: primary-blue,
      hover: primary-navy,
      background-color: base-white,
      border: secondary-grey,
      input-background: base-white,
      placeholder: secondary-grey,
      checkbox-background: primary-navy,
      checkbox-check: "../svg/icon-checkmark-white.svg",
      select-arrow: "../svg/icon-arrow-down-navy.svg",
      error: primary-red
    ),
    mid-background: (
      color: base-black,
      headings: base-black,
      hyperlinks: primary-blue,
      visited: primary-blue,
      hover: primary-navy,
      background-color: secondary-white,
      border: secondary-grey,
      input-background: base-white,
      placeholder: secondary-grey,
      checkbox-background: primary-navy,
      checkbox-check: "../svg/icon-checkmark-white.svg",
      select-arrow: "../svg/icon-arrow-down-navy.svg",
      error: primary-red
    ),
    dark-background: (
      color: base-white,
      font-smooth: true,
      headings: base-white,
      hyperlinks: base-white,
      visited: base-white,
      hover: base-white,
      background-color: primary-navy,
      border: base-white,
      input-background: primary-navy,
      placeholder: base-white,
      checkbox-background: base-white,
      checkbox-check: "../svg/icon-checkmark-navy.svg",
      select-arrow: "../svg/icon-arrow-down-white.svg",
      error: primary-red
    ),
    primary-button: (
      font-weight: bold,
      color: base-white,
      font-smooth: true,
      background-color: primary-blue
    ),
    secondary-button: (
      font-weight: bold,
      color: base-white,
      font-smooth: true,
      background-color: primary-red
    )
  ),
  icons: (
    icon-logo-nyc: 350px 117px,
    icon-logo-nyco-secondary: 694px 76px,
    icon-logo-nyco: 692px 358px,
    icon-logo-primary: 693px 313px,
    icon-logo-secondary: 692px 121px,
    icon-github-mark: 33px 33px
  ),
  iconSizes: (
    1: 8px 8px,
    2: 16px 16px,
    3: 24px 24px,
    4: 32px 32px,
    5: 40px 40px,
    6: 48px 48px,
    7: 56px 56px,
    8: 64px 64px,
    9: 72px 72px,
    10: 80px 80px,
    11: 88px 88px,
    12: 96px 96px,
    large: 136px 136px,
    xlarge: 256px 256px
  ),
  animate: (
    ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
    ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1),
    animate-scss-speed: 0.75s,
    animate-timing-function: cubic-bezier(0.23, 1, 0.32, 1)
  ),
  borderWidth: (
    0: 0,
    2: 2px,
    4: 4px,
    8: 8px,
    default: 1px
  ),
  grid: 8px,
  padding: (
    0: 0,
    1: 8px,
    2: 16px,
    3: 24px,
    4: 32px,
    5: 40px,
    6: 48px
  ),
  margin: (
    0: 0,
    1: 8px,
    2: 16px,
    3: 24px,
    4: 32px,
    5: 40px,
    6: 48px,
    -2: -16px,
    -1: -8px,
    auto: auto
  ),
  maxWidth: (
    600: 600px,
    900: 896px,
    1/2: 50%,
    full: 100%
  ),
  width: (
    600: 600px,
    900: 896px,
    1/2: 50%,
    full: 100%
  ),
  screens: (
    screen-desktop: 960,
    screen-mobile: 480,
    screen-tablet: 768,
    screen-sm-mobile: 400
  ),
  buttons: (
    radius: 500px
  ),
  inputs: (
    checkbox-radius: 6px,
    checkbox-size: 20px
  ),
  boxShadow: (
    none: none,
    up-transparent: 8px 8px 0px 0px rgba(47, 51, 79, 0),
    up: 8px 8px 0px 0px rgba(47, 51, 79, 100),
    up-2-transparent: 16px 16px 0px 0px rgba(47, 51, 79, 0),
    up-2: 16px 16px 0px 0px rgba(47, 51, 79, 100)
  )
);
