<!DOCTYPE html>
<html class="text-size-0" lang="en">

</html>

<body onload="load()" style="visibility: hidden;">
  <header class="overflow-hidden color-dark-background py-2">
    <div class="layout-wrap mx-auto px-6 flex justify-between items-center">
    </div>
  </header>
  <main class="o-content"></main>
  <footer
    class="o-footer color-dark-background screen-tablet:layout-four-columns-gutter">
    <nav><a class="o-footer__nav-link" href="index">Home</a><a
        class="o-footer__nav-link"
        href="https://github.com/CityOfNewYork/nyco-patterns">GitHub
        Repository</a><a class="o-footer__nav-link"
        href="https://github.com/CityOfNewYork/nyco-patterns-framework">NYCO
        Patterns Framework</a><a class="o-footer__nav-link"
        href="https://github.com/topics/nycopportunity?q=org%3Acityofnewyork+topic%3Anycopportunity&amp;unscoped_q=org%3Acityofnewyork+topic%3Anycopportunity">NYCO
        Opportunity on GitHub</a></nav>
    <div></div>
    <div class="o-footer__info"><a href="http://nyc.gov/opportunity"
        title="NYC Opportunity&lt;products@nycopportunity.nyc.gov&gt;"><svg
          aria-hidden="true"
          class="icon-logo-secondary o-footer__logo text-base-white"
          style="height: 52px !important">
          <use xlink:href="#icon-logo-secondary"></use>
        </svg></a>
      <p>NYC Opportunity is the <a href='http://nyc.gov/opportunity'>New York
          City Mayor's Office for Economic Opportunity</a>. We are committed to
        sharing open source software that we use in our products. Feel free to
        ask questions and share feedback. Follow @nycopportunity on&nbsp;<a
          href='https://twitter.com/nycopportunity' target='_blank'
          rel='nofollow noopener'>Twitter</a>,&nbsp;<a
          href='https://www.facebook.com/NYCOpportunity/' target='_blank'
          rel='nofollow noopener'>Facebook</a>,&nbsp;<a
          href='https://medium.com/@nycopportunity' target='_blank'
          rel='nofollow noopener'>Medium</a>, and&nbsp;<a href=''
          target='_blank' rel='nofollow noopener'
          title='Viewable by github.com/orgs/CityOfNewYork/ members.'>Github</a>.
      </p><small>© City of New York, 2020 All Rights Reserved.<br>NYC is a
        trademark and service mark of the City of New York.</small>
    </div>
  </footer>
  <script crossorigin="anonymous"
    src="https://polyfill.io/v3/polyfill.min.js?flags=gated&amp;features=Array.prototype.forEach,Element.prototype.matches,Element.prototype.remove,fetch,Promise">
  </script>
  <script src="scripts/nyco-patterns.js"></script>
  <script type="text/javascript">
    var nyco = new NycoPatterns();
    nyco.icons();
    nyco.toggle();
  </script>
</body>