/**
 * Official
 */

// Dependencies
@import 'config/variables';

// Declarations
.c-official {
  font-size: 85%;
  padding: map-get($variables, 'grid');
  padding-top: map-get($variables, 'grid') / 2;
  padding-bottom: map-get($variables, 'grid') / 2;

  display: flex;
  align-items: center;
}