/**
 * Buttons
 */

// Dependencies
@import 'config/variables';
@import 'config/buttons';
@import 'config/screens';

$buttons: map-get($variables, 'buttons');
$grid: map-get($variables, 'grid');

@mixin button-reset() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button {
  @include button-reset();
}

// Declarations
@mixin buttons($variant: '') {
  .#{$variant}btn, .#{$variant}buttons {
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: initial;

    display: inline-block;
    appearance: none;
    cursor: pointer;
    background: transparent;
    padding: ($grid * 1.5) ($grid * 2);

    border: ($grid / 4) solid;
    border-color: currentColor;
    box-shadow: map-get(map-get($variables, 'boxShadow'), 'up-transparent');

    transition: background .1s ease-in,
                color .1s ease-in,
                box-shadow .1s ease-in;

    .icon {
      vertical-align: middle;
    }

    &:hover, &:focus {
      box-shadow: map-get(map-get($variables, 'boxShadow'), 'up');
    }

    &.color-primary-button {
      @include button-hover('primary-button');
      border-color: transparent;
    }

    &.color-secondary-button {
      @include button-hover('secondary-button');
      border-color: transparent;
    }
  }

  .#{$variant}btn-large, .#{$variant}button-large {
    padding: (($grid * 3) - ($grid / 2)) ($grid * 4);
  }
}

@include screens {
  @include buttons($variant);
}