/**
 * Buttons
 */

// Dependencies
@import 'config/variables';
@import 'config/buttons';
@import 'config/screens';

$buttons: map-get($variables, 'buttons');
$grid: map-get($variables, 'grid');

// Declarations
@mixin buttons($variant: '') {
  .#{$variant}btn, [class*='#{$variant}btn--'],
  .#{$variant}button, [class*='#{$variant}button--'] {
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: initial;

    display: inline-block;
    appearance: none;
    cursor: pointer;
    background: transparent;
    padding: ($grid * 1.5) ($grid * 2);

    border: 2px solid;
    border-color: inherit;
    border-radius: map-get($buttons, 'radius');
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0);

    transition: background .1s ease-in,
                color .1s ease-in,
                box-shadow .1s ease-in;

    .icon {
      vertical-align: middle;
    }

    &:hover {
      box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, .25);
    }

    &.color-primary-button {
      @include button-hover('primary-button');
    }

    &.color-secondary-button {
      @include button-hover('secondary-button');
    }
  }
}

@include screens {
  @include buttons($variant);
}