/**
 * Map
 */

// Dependencies
@import 'config/tokens';

// Declarations
.o-map {
  .map-menu {
    a {
      margin-right: map-get($tokens, 'grid');
      overflow-wrap: normal;
      word-wrap: normal;
      overflow: scroll;
    }

    a.active {
      color: map-get(map-get($tokens, 'colors'), navy);
    }
  }

  .map-legend {
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    font-weight: 600;
    width: 130px;
    color: map-get(map-get($tokens, 'colors'), 'base-white');
  }

  .map-legend input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
  }

  .map-legend label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
  }

  .map-legend input[type=checkbox] {
    display: none;
  }

  .map-legend input[type=checkbox] + label {
    display: block;
    background-color: map-get(map-get($tokens, 'colors'), 'navy-70t');
    padding: 10px;
    border-bottom: 1px solid map-get(map-get($tokens, 'colors'), 'navy-30t');
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
  }

  .map-legend input[type=checkbox] + label:hover,
  .map-legend input[type=checkbox]:checked + label {
    background-color: map-get(map-get($tokens, 'colors'), blue);
  }

  .map-legend input[type=checkbox]:checked + label:before {
    content: '✔';
    margin-right: 5px;
  }

  // mapbox customizations
  .mapboxgl-popup {
    min-width: 60px;
    max-width: 300px;
  }

  .mapboxgl-popup-content {
    padding: 15px 20px;
  }

  .mapboxgl-popup-close-button {
    right: 5px;
    top: 5px;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      text-decoration-color: map-get(map-get($tokens, 'colors'), navy);
      transform: scale(1.4);
    }
  }
}