/**
 * Links
 */

// Dependencies
@import 'config/tokens';

// Declarations
a:not(.btn), .link {
  color: var(--nyco-hyperlinks);
  font-weight: bold;

  &:visited {
    color: var(--nyco-visited);
  }

  &:hover, &:active, &:focus, &.active {
    color: var(--nyco-hover);
  }
}
