/**
 * Links
 */

// Dependencies
@import 'config/tokens';

$borderRadius: map-get(map-get($tokens, 'borderRadius'), 'DEFAULT');

// Declarations
a:not(.btn), .link {
  color: var(--nyco-hyperlinks);
  font-weight: bold;
  border-radius: $borderRadius;

  &:visited {
    color: var(--nyco-visited);
  }

  &:hover, &:active, &:focus, &.active {
    color: var(--nyco-hover);
  }
}
