@import 'config/variables';
@import 'config/fonts';
@import 'scss/functions/font-source-declaration';
@import 'scss/functions/font-face';

@include font-face(
  'Noto Sans',
  '../fonts/noto-sans/NotoSans',
  (eot woff2 woff ttf)) {
    font-weight: normal;
    font-style: normal
  };

@include font-face(
  'Noto Sans',
  '../fonts/noto-sans/NotoSans-Italic',
  (eot woff2 woff ttf)) {
    font-weight: normal;
    font-style: italic
  };

@include font-face(
  'Noto Sans',
  '../fonts/noto-sans/NotoSans-Bold',
  (eot woff2 woff ttf)) {
    font-weight: bold;
    font-style: normal
  };

@include font-face(
  'Noto Sans',
  '../fonts/noto-sans/NotoSans-BoldItalic',
  (eot woff2 woff ttf)) {
    font-weight: bold;
    font-style: italic
  };