/**
 * Aside Component
 */

// Dependencies
@import 'utilities/grid.vars';

// Declarations
.c-aside {

}

.c-aside_header {
  display: block;
  padding: ($grid-base * 3) ($grid-base * 3);

  > *:first-child {
    font-size: em($grid-base * 2);
    line-height: em($grid-base * 2);
    margin: 0;
    padding: 0;
  }

}

.c-aside_body {
  padding: ($grid-base * 2) ($grid-base * 3) ($grid-base * 3);

  > *:last-child {
    margin-bottom: 0
  }

}
