/**
 * Navs
 */


//
// Dependencies
//
@import 'utilities/grid.vars';


//
// Declarations
//
.c-nav-block {
  display: inline-block;
}

.c-nav-block > * {
  display: block;
  margin-bottom: $grid-base
}

.c-nav-inline-block {
  display: inline-block;
}

.c-nav-inline-block > * {
  display: inline-block;
  margin: inherit
}

.c-nav-inline-block > * {
  margin: 0 $grid-base
}

.c-nav-inline-block > *:first-child {
  margin-left: 0
}

.c-nav-inline-block > *:last-child {
  margin-right: 0
}