/**
 * Components
 */

/**
 * Card
 */

.c-card {
  position: relative;
  border: 4px solid;
  padding: 32px;
}

.c-card:hover {
  background-color: var(--nyco-card-background-color);
}

.c-card:hover .badge {
  background-color: var(--nyco-background-color);
}

.c-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.c-card__title {
  font-size: 1.44em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
}

.c-card__block-description-list {
  font-size: 0.833em;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 16px;
}

.c-card__block-description-list :nth-child(2) {
  margin-bottom: 16px;
}

.c-card__block-description-list dt {
  color: var(--nyco-placeholder);
  margin-inline-end: 8px;
}

.c-card__inline-description-list {
  font-size: 0.833em;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 16px;
}

.c-card__inline-description-list dt, .c-card__inline-description-list dd {
  display: inline-block;
}

.c-card__inline-description-list dd {
  margin-inline-end: 24px;
  margin-bottom: 0;
}

.c-card__inline-description-list dt {
  color: var(--nyco-placeholder);
  margin-inline-end: 8px;
}

.c-card__cta {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.c-card-info {
  display: flex;
  flex-direction: column;
}

/**
 * Record-hero
 */

.c-record-hero {
  background-color: var(--nyco-card-background-color);
}

.c-record-hero__body {
  padding: 32px;
}

.c-record-hero__header {
  margin-bottom: 24px;
}

.c-record-hero__description-list dt, .c-record-hero__description-list dd {
  display: block;
}

.c-record-hero__description-list dt {
  color: var(--nyco-color-alt);
  margin-inline-end: 16px;
}

.c-record-hero__description-list dd {
  margin-bottom: 24px;
}

.c-record-hero__details {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.c-record-hero__details > * {
  margin-inline-end: 32px;
  margin-bottom: 0;
}

.c-record-hero__details *:last-child {
  margin-bottom: 0;
}

/**
 * Question
 */

.c-question p, .c-question .error-message {
  margin-bottom: 8px;
}